<div class="container">
    <small class="bg-light p-2 d-flex justify-content-start">App / Product-detail / {{product.name}}</small>
</div>
<div class="container">
    <h5 class="mt-3 text-primary">Product detail page</h5>
    <div class="content mt-4">
        <div class="row">
            <div class="col-6">
                <img src="{{product.image_url}}" width="300px" alt="">
                
            </div>
            <div class="col-6">
                    <h5 class="text-primary">{{product.name}}</h5>
                    <p>Price: {{product.price | number}} vnd</p>
                    <div class="desc">
                        Description: {{product.desc}}
                    </div>
                    <button class="btn btn-info mt-4">Discover</button>
            </div>
        </div>
    </div>
</div>
