<small class="bg-light p-2 d-flex justify-content-start">App / Profile</small>

<div class="my-name mt-3 mb-4">
    <div class="avatar">
        <img src="https://cloudxcel.nl/giphy.gif" width="50px" alt="">
    </div>
    <h4 class="animate__animated animate__bounce animate__delay-2s animate__infinite infinite
    ">I'm Tran Hoang Hiep - PH14545</h4>
    <div class="my-education">
        Currently a 2nd year student, majoring in web backend design (PHP / LARAVEL) at FPT Polytechnic
    </div>
    <div class="contact-me mt-5">
        <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>
            Contact with me</h5>
        <p>Email: hieptvh18@gmail.com</p>
        <p>Facebook: https://www.facebook.com/</p>
    </div>
    <div class="skill mt-5">
        <h5>Skills</h5>
        <p>Languages: Html, css, Javascript, Angular 13(basic), Nodejs Express(basic), PHP/Laravel</p>
        <p>Database: mysql, mongodb </p>
    </div>
    <div class="btn-discover">
        <button class="btn-show-me">Hire me</button>
    </div>
</div>
