.btn-show-me{
    width: 100px;
    height: 40px;
    border: none;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 242), rgb(48, 110, 224));
    color:white;
    border-radius: 5px;
}
.btn-show-me:hover{
    background-image: linear-gradient(to bottom right, rgb(102, 10, 97), rgb(10, 53, 134));

}